/* YOU CAN DELETE THIS FILE - USED FOR DEMO
-------------------------------------------------- */
pre{font-size: 11px;line-height: 1.4;color: #747474;}
a:focus { outline:none !important;}
code {color: #747474;font-weight:normal;font-size: 11px; }
.icons ul {list-style-type:none; }
.table-striped td, .table-striped tr{background:#fff;}

/* Special grid styles
-------------------------------------------------- */
.show-grid { margin-top: 10px; margin-bottom: 20px; }
.show-grid [class*="span"] {
  background-color: #111;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid:hover [class*="span"] { background: #222; }
.show-grid .show-grid { margin-top: 0; margin-bottom: 0; }
.show-grid .show-grid [class*="span"] { background-color: #ccc; }

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
  display: block;
  margin-bottom: 9px;
}

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #111;
  border: 1px solid #444;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #333;
  border: 1px solid #444;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
  margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
  margin-bottom: 5px;
}
.bs-docs-example .pagination { margin-top: 0;}


